<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmbdp.jop.mapper.user.UserSubmitMapper">

    <select id="selectUserScoreList" resultType="com.zmbdp.jop.domain.user.UserScore">
        select
            exam_id,
            user_id,
            sum(score) as score
        from
            tb_user_submit
        where
        <foreach collection="examIdSet" open="exam_id in ( " close=" ) " item="examId" separator=",">
            #{examId}
        </foreach>
        group by
            exam_id,
            user_id
        order by
            score desc
    </select>

    <select id="selectHostQuestionList" resultType="java.lang.Long">
        select
            question_id,
            count(question_id) hot_count
        from
            tb_user_submit
        where
            exam_id is null
        group by
            question_id
        order by
            hot_count desc
    </select>
</mapper>