<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmbdp.jop.mapper.user.UserExamMapper">

    <update id="updateUserScoreAndRank">
        <foreach collection="userScoreList" item="item" separator=";">
            update
                tb_user_exam
            set
                score = #{item.score}, exam_rank = #{item.examRank}
            where
                exam_id = #{item.examId} and user_id = #{item.userId}
        </foreach>
    </update>
</mapper>