<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.zmbdp.system.mapper.question.QuestionMapper">

    <select id = "selectQuestionList" resultType = "com.zmbdp.system.domain.question.vo.QuestionVO">
        select
            tq.question_id,
            tq.title,
            tq.difficulty,
            ts.nick_name as create_name,
            tq.create_time
        from
            tb_question tq
        left join
            tb_sys_user ts
        on
            tq.create_by = ts.user_id
        <where>
            <if test = "difficulty != null ">
                and tq.difficulty = #{difficulty}
            </if>
            <if test = "title != null and title != '' ">
                and tq.title like concat('%', #{title}, '%')
            </if>
        </where>
        order by
            create_time desc
    </select>
</mapper>